.sidebar {
    margin: 0px;
    padding: 10px 10px 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: rgb(2, 6, 41);
    position: absolute;
    left: 0;
}

.sidebar .page-heading {
    color: white;
    font-size: 24px;
}

.sidebar .logo {
    margin-top: 10px;
    background-image: url("https://img.icons8.com/ios-glyphs/100/ffffff/graduation-cap--v1.png");
    background-color: rgb(2, 6, 41);
    width: 100px;
    height: 100px;
}

.sidebar .pragya {
    margin-top: 5px;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.sidebar .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.sidebar .student-name {
    margin-top: 2px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.sidebar .student-email {
    margin-top: 1px;
    font-size: 12px;
    color: rgb(201, 201, 201);
    margin-bottom: 30px;
}

.sidebar .nav-link a {
    color: rgb(201, 201, 201);
    font-size: 20px;
    text-decoration: none;
    margin: 0px 25px 15px 0px;
    display: block;
}

.sidebar .nav-link a:hover {
    color: rgb(240, 240, 240);
}

.sidebar .nav-link a.active {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
}