{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'learning_dashboard/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'learning_dashboard/dashboard.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'learning_dashboard/sidebar.css' %}">

<!--
<p>this is the classroom</p>
-->

<div class="sidebar">

    <!--
    <div class="page-heading">Teaching Hub</div>
    -->
    <div class="logo"></div>

    <img src="https://pbs.twimg.com/profile_images/1353806309397655553/0zEtkDvx_400x400.jpg" class="profile-pic" />
    <div class="student-name">Robert</div>
    <div class="student-email">rdowney@gmail.com</div>

    <div class="nav-link"><a class="active" href="#">Dashboard</a></div>
    <div class="nav-link"><a href="/classroom">Live Classroom</a></div>
    <div class="nav-link"><a href="/announcements">Announcements</a></div>
    <div class="nav-link"><a href="/resources">Resources</a></div>
    <div class="nav-link"><a href="#">Wallets</a></div>
    <div class="nav-link"><a href="#">Summary</a></div>
    <div class="nav-link"><a href="#">Accounts</a></div>
    <div class="nav-link"><a href="#">Settings</a></div>

</div>

<div class="wrapper">

    <div class="header">
        <div class="title"><h1>STUDENT DASHBOARD</h1></div>
    </div>

    <div class="grade">

        <div class="grade-title">Semester's Grade</div>
        <div class="graph-wrapper">
            <div class="grade-graph"><img src="" /></div>
            <div class="summary">
                <span>Summary</span>
                <div class="summary-wrapper">
                    <div class="summary-card">
                        <img src="" />
                        <div>
                            <span class="score">3.10</span>
                            <span class="description">GPA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="subjects">

        <span>Subjects</span>

        <div class="subject-card">
            <img src="" />
            <span>Physics</span>
        </div>

        <div class="subject-card">
            <img src="" />
            <span>Chemistry</span>
        </div>

        <div class="subject-card">
            <img src="" />
            <span>History</span>
        </div>

        <div class="subject-card">
            <img src="" />
            <span>Biology</span>
        </div>

        <div class="subject-card">
            <img src="" />
            <span>Mathematics</span>
        </div>

        <div class="subject-card">
            <img src="" />
            <span>Arts</span>
        </div>

    </div>
</div>